<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="card-previewer-handler.html">
<link rel="import" href="scripts.html">

<polymer-element name="pb-card" attributes="previewId">
  <template>
    <link rel="stylesheet" href="css/all.css">

    <pb-card-previewer-handler id="previewerHandler"></pb-card-previewer-handler>
    <pb-scripts id="scripts"></pb-scripts>
    
    <div id="root" on-click="{{onClick}}" on-mouseover="{{onMouseOver}}">
      <div class="face front">
        <content select=".front.small"></content>
      </div>
      <div class="face back">
        <content select=".back.small"></content>
      </div>
    </div>
    <div class="preview">
      <content id="frontPreview" select=".front.preview"></content>
      <content id="backPreview" select=".back.preview"></content>
    </div>
  </template>
  <script>
    var updatePreviewer = function() {
      // TODO: get the id properly.
      if (this.$.scripts.$(this.$.root).hasClass('showFront')) {
        this.$.previewerHandler.setCard(this.previewId + '-front', this.$.frontPreview.getDistributedNodes()[0]);
      } else {
        this.$.previewerHandler.setCard(this.previewId + '-back', this.$.backPreview.getDistributedNodes()[0]);
      }
    };

    Polymer('pb-card', {
      created: function() {
        this.previewId = '';
      },
      onClick: function() {
        this.$.scripts.$(this.$.root).toggleClass('showFront');
        updatePreviewer.bind(this)();
      },
      onMouseOver: function() {
        updatePreviewer.bind(this)();
      }
    });
  </script>
</polymer-element>