<!--
Base component for interactable card.

To use this, create the pb-card element and pass in 4 elements:
- Element with .front.preview. This is the front face used for previewing the card.
- Element with .back.preview. This is the back face used for previewing the card.
- Element with .front.small. This is the front small face displayed on the card.
- Element with .back.small. This is the back small face displayed on the card.
-->

<link rel="import" href="scripts.html">

<template>
  <link rel="stylesheet" href="css/all.css">

  <pb-card-previewer-handler id="previewerHandler"></pb-card-previewer-handler>
  
  <div id="root" on-click="{{onClick}}" on-mouseover="{{onMouseOver}}" 
      class="{{showFront ? 'showFront' : ''}}">
    <div class="face front">
      <content select=".front.small"></content>
    </div>
    <div class="face back">
      <content select=".back.small"></content>
    </div>
  </div>
  <div class="preview">
    <content id="frontPreview" select=".front.preview"></content>
    <content id="backPreview" select=".back.preview"></content>
  </div>
</template>

<script>
  (function() {
    var Card = function(previewId, showFront, frontSmall, backSmall, frontPreview, backPreview) { 

      var updatePreviewer = function() {
        if (this.showFront) {
          CardPreviewerHandler.setCard(
              previewId + '-front', 
              frontPreview);
        } else {
          CardPreviewerHandler.setCard(
              previewId + '-back', 
              backPreview);
        }
      };


    };

    // Polymer('pb-card', {
    //   created: function() {
    //     this.previewId = '';
    //     this.showFront = !!this.startShowFront;
    //   },
    //   onClick: function() {
    //     this.showFront = !this.showFront;
    //     updatePreviewer.bind(this)();
    //   },
    //   onMouseOver: function() {
    //     updatePreviewer.bind(this)();
    //   }
    // });
  }).call(this);
</script>
