<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Unit test for Game</title>
  <link rel="stylesheet" href="../../bower_components/qunit/qunit/qunit.css">

  <script src="../../bower_components/qunit/qunit/qunit.js"></script>

  <script src="../../common/pretty.js"></script>
  <script src="../../common/events.js"></script>
  <script src="../../testing/mock.js"></script>
  
  <link rel="import" href="game-logic.html">
  <style>
    .qunit-assert-list {
      font-family: "Lucida Console", Monaco, monospace;
    }
  </style>
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>

  <script>
    var Game = Game;

    QUnit.testStart(function() { 
      Game.reset(); 
    });

    /**
     * Tests for pb-game-logic.signIn
     */
    QUnit.module('pb-game-logic.signIn');
    QUnit.test('good', function(asserts) {
      var userId = 'User ID';
      Game.signIn(userId);
      asserts.ok(true, 'Test ran with no errors');
    });

    QUnit.test('existing game', function(asserts) {
      var userId = 'user ID';
      var gameId = 'Game ID';
      var postSpy = Mock.spy($, 'post');
      Mock.when(postSpy)(Uris.Request.CREATE).doReturn({
        done: function(callback) { callback({gameId: gameId}); }
      });

      Game.signIn(userId);
      Game.create();

      Game.signIn('User ID 2');
      Mock.verify(postSpy)(Uris.Request.LEAVE, {gameId: gameId, userId: userId});
    });

    /**
     * Tests for pb-game-logic.create.
     */
    QUnit.module('pb-game-logic.create');
    QUnit.test('good', function(asserts) {
      var postSpy = Mock.spy($, 'post');
      var userId = 'userId';
      Game.signIn(userId);
      Game.create();
      Mock.verify(postSpy)(Uris.Request.CREATE);
    });

    QUnit.test('not signed in', function(asserts) {
      asserts.throws(
          function() { Game.create(); },
          /sign in/,
          'Throws exception when not signed in.');
    });


    /**
     * Tests for pb-game-logic.join.
     */
    QUnit.module('pb-game-logic.join');
    QUnit.test('good', function(asserts) {
      var postSpy = Mock.spy($, 'post');
      var userId = 'User ID';
      var gameId = 'Game ID';

      var mockListener = Mock.mockFunction('gameListener');
      $(Game).on(Game.Events.JOIN, mockListener);

      Game.signIn(userId);

      Mock.when(postSpy).doReturn({
        done: function(callback) { callback(); }
      });

      Game.join(gameId);

      Mock.verify(postSpy)(Uris.Request.JOIN, {gameId: gameId, userId: userId});
      Mock.verify(mockListener)(Mock.instanceOf(jQuery.Event), {gameId: gameId});
    });

    QUnit.test('not signed in', function(asserts) {
      asserts.throws(
          function() { Game.join('game ID'); },
          /sign in/,
          'Throws exception when not signed in.');
    });


    /**
     * Tests for pb-game-logic.leave.4087610027
     */
    QUnit.module('pb-game-logic.leave');
    QUnit.test('good', function(asserts) {
      var userId = 'User ID';
      var gameId = 'Game ID';
      var spyPost = Mock.spy($, 'post');
      Mock.when(spyPost)(Uris.Request.CREATE).doReturn({
        done: function(callback) { callback({gameId: gameId}); }
      });

      Game.signIn(userId);
      Game.create();
      Game.leave();

      Mock.verify(spyPost)(Uris.Request.LEAVE, {userId: userId, gameId: gameId});
    });

    QUnit.test('not signed in', function(asserts) {
      Game.leave();
      asserts.ok(true, 'Should not throw exception when not signed in');
    });


    /**
     * Tests for pb-game-logic.change.
     */
    QUnit.module('pb-game-logic.change');
    QUnit.test('good', function(asserts) {
      var userId = 'User ID';
      var gameId = 'Game ID';
      var field = 'field';
      var change = Game.ChangeType.ADD;
      var value = {value: 1};

      var spyPost = Mock.spy($, 'post');
      Mock.when(spyPost)(Uris.Request.CREATE).doReturn({
        done: function(callback) { callback({gameId: gameId}); }
      });

      Game.signIn(userId);
      Game.create();
      Game.change(field, change, value);

      Mock.verify(spyPost)(Uris.Request.MESSAGE, {
        userId: userId, 
        gameId: gameId, 
        msg: {
          type: field,
          data: {
            actor: userId, 
            change: change, 
            value: value
          }
        }});
    });

    QUnit.test('not signed in', function(asserts) {
      asserts.throws(
          function() { Game.change('field', 'change', 'value'); },
          /sign in/,
          'Throws exception when not signed in.');
    });


    /**
     * Tests for pb-game-logic event handling from Network.
     */
    QUnit.module('pb-game-logic Network event handling after JOIN', {
      setup: function() {
        this.mockListener = Mock.mockFunction('listener');
        this.userId = 'User ID';
        var mockAddEventListener = Mock.override(
            EventSource.prototype, 
            'addEventListener', 
            Mock.mockFunction('EventSource.addEventListener'));
        Game.signIn(this.userId);

        var spyPost = Mock.spy($, 'post');
        var savedCallback = null;
        Mock.when(spyPost)(Uris.Request.JOIN, Mock.any()).doReturn({
          done: function(callback) {
            savedCallback = callback;
          }
        });

        this.startStreaming = function(eventType, data) {
          Mock.when(mockAddEventListener)('message', Mock.any())
              .do(function(_, callback) {
                callback({
                  data: JSON.stringify([{
                    id: 2,
                    type: eventType,
                    data: data
                  }])
                });
              });
          savedCallback();
        };
        Game.join('Game ID');
      }
    });

    QUnit.test('handle Network.MESSAGE', function(asserts) {
      var field = 'fieldname';
      var changeType = Game.ChangeType.ADD;
      var actor = 'actorId';
      var value = {value: 1};

      $(Game).on('{0}.{1}'.format(field, changeType), this.mockListener);

      this.startStreaming(
          Events.Server.MESSAGE, 
          {
            type: field,
            data: {
              actor: actor,
              change: changeType,
              value: value
            }
          });

      Mock.verify(this.mockListener)(Mock.instanceOf(jQuery.Event), {actor: actor, value: value});

      var expectedState = {};
      expectedState[field] = value;
      asserts.deepEqual(Game.getState(), expectedState);
    });

    QUnit.test('handle Network.PLAYER_ADDED', function(asserts) {
      var newUserId = 'newUserId';
      $(Game).on(Game.Events.PLAYER_ADDED, this.mockListener);

      this.startStreaming(Events.Server.PLAYER_ADDED, {userId: newUserId});

      Mock.verify(this.mockListener)(Mock.instanceOf(jQuery.Event), {userId: newUserId});
    });

    QUnit.test('handle Network.PLAYER_REMOVED', function(asserts) {
      var removedUserId = 'removedUserId';
      $(Game).on(Game.Events.PLAYER_REMOVED, this.mockListener);

      this.startStreaming(Events.Server.PLAYER_REMOVED, {userId: removedUserId});

      Mock.verify(this.mockListener)(Mock.instanceOf(jQuery.Event), {userId: removedUserId});
    });

    QUnit.test('handle Network.NEW_GAME_STATE', function(asserts) {
      var gameState = {first: 1, second: 2};
      $(Game).on(Game.Events.NEW_GAME_STATE, this.mockListener);
      
      this.startStreaming(Events.Server.SYNC_ACK, {
        gameState: gameState
      });

      Mock.verify(this.mockListener)(Mock.instanceOf(jQuery.Event));
      asserts.deepEqual(Game.getState(), gameState);
    });
  </script>
</body>
</html>