<polymer-element name="pb-hand">
  <template>
    <link rel="stylesheet" href="css/all.css">
    
    <div id="container" class="pb-hand">
      <content></content>
    </div>
  </template>
  <script>
  require(['config'], function() {
    define('hand', ['jquery', 'jquery-ui/sortable', 'polymer'], function($) {
      Polymer('pb-hand', {
        created: function() {
          this.width = '100px';
          this.height = '100px';
        },
        ready: function() {
        },
        cardClick: function() {
          $(this.$.root).toggleClass('showFront');
        }
      });
    });
  });
  </script>
</polymer-element>