<polymer-element name="pb-hand" attributes="owner">
  <template>
    <link rel="stylesheet" href="css/all.css">
    
    <div id="container" class="pb-hand">
      <content></content>
    </div>
  </template>
  <script>
    var updateCards = function() {
      
    };
    var updateVisibility = function() {

    };

    Polymer('pb-hand', {
      created: function() {
        this.width = '100px';
        this.height = '100px';
        this.owner = '';
      },
      ready: function() {
      },
      cardClick: function() {
        $(this.$.root).toggleClass('showFront');
      },
      set config function(config) {
        this.config = config;
        updateCards.call(this);
        updateVisibility.call(this);
      }
    });
  </script>
</polymer-element>