<polymer-element name="pb-hand" attributes="owner">
  <template>
    <link rel="stylesheet" href="css/all.css">
    
    <div id="root" class="pb-hand">
      <content></content>
      <pb-standard-card face="heart" value="a"></pb-standard-card>
      <div style="width: 30px; height: 30px;" id="blah">
        <div style="background-color: blue; width: 300px; height: 300px;"></div>
      </div>
    </div>
  </template>
  <script>
    Polymer('pb-hand', {
      
    });
  </script>
</polymer-element>
