<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="card.html">
<link rel="import" href="scripts.html">

<polymer-element name="pb-standard-card" attributes="face value showFront" extends="pb-card">
  <template>
    <pb-scripts id="scripts"></pb-scripts>

    <link rel="stylesheet" href="css/all.css">

    <pb-card id="card" previewId="{{face}}_{{value}}" showFront="{{!!showFront}}">
      <!-- The front preview face -->
      <div id="front" class="pb-standard-card front preview {{face}}">
        <div class="margin">
          <div class="value">{{value}}</div>
          <div class="symbol"></div>
        </div>

        <div class="main">
          <div id="symbols" class="symbols value-{{value}}"></div>
        </div>

        <div class="margin right">
          <div class="container">
            <div class="value">{{value}}</div>
            <div class="symbol"></div>
          </div>
        </div>
      </div>

      <!-- The back preview face -->
      <div id="back" class="pb-standard-card back preview"></div>

      <div class="pb-standard-card front small"></div>
      <div class="pb-standard-card back small"></div>
    </pb-card>
  </template>
  <script>
    var updateSymbols = function() {
      this.$.scripts.$('.symbol', this.$.card)
          .each(this.$.scripts.svg.appendSvg('assets/{0}.svg'.format(this.face)));
    };

    var cloneFaces = function() {
      // TODO: Pull this to util.
      var $ = this.$.scripts.$;

      // Remove the old clones.
      $('.front.small', this.$.card).empty();
      $('.back.small', this.$.card).empty();

      // Clone the faces.
      var frontClone = $(this.$.front)
          .clone(false)
          .removeAttr('id')[0];
      var backClone = $(this.$.back)
          .clone(false)
          .removeAttr('id')[0];
      $('.front.small', this.$.card).append(frontClone);
      $('.back.small', this.$.card).append(backClone);
    };


    Polymer('pb-standard-card', {
      created: function() {
        this.face = '';
        this.value = '';
      },
      ready: function() {
        cloneFaces.bind(this)();
        updateSymbols.bind(this)();
      },

      valueChanged: function(oldValue, newValue) {
        var $ = this.$.scripts.$;

        // TODO: validate
        var $symbols = $(this.$.symbols);
        $symbols.empty();

        if (newValue === 'a') {
          newValue = 1;
        }

        var valueInt = Number.parseInt(newValue);
        if (Number.isNaN(valueInt)) {
          $symbols.append($('<div class="value-letter">{0}</div>'.format(newValue)));
        } else {
          var addSymbols = function($parent, count) {
            if (count === 10) {
              addSymbols($parent, 4);
              addSymbols($parent, 2);
              addSymbols($parent, 4);
            } else if (count > 4) {
              var remainder = count % 2;
              var divided = Math.floor(count / 2);

              addSymbols($parent, divided);
              if (remainder) {
                addSymbols($parent, remainder);
              }
              addSymbols($parent, divided);
            } else  {
              var $div = $('<div></div>');
              for (var i = 0; i < count; i++) {
                $div.append('<div class="symbol"></symbol>');
              }
              $parent.append($div);
            }
          };

          addSymbols($symbols, valueInt);
        }

        cloneFaces.bind(this)();
        updateSymbols.bind(this)();
      }
    });
  </script>
</polymer-element>